*{
    margin: 0;
    padding: 0;
}

@media(max-width: 1200px){

div.cont{
    background-color: black;
    position: relative;
}

img{
    width: 100%;
}

img.bebidas{
    height: 100%;
    top: 0;
    left: 0;
}

img.bolos{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.fundo-btn{
    display: flex;
    flex-direction: row;
    
}

input{
    margin: 0;
    margin-top: 10px;
    width: 50%;
    height: 80px;
    background-color: rgb(255, 143, 143);
    border: 1px solid #000;
}

input:hover{
    cursor: pointer;
}

}